@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    background-color:rgb(223, 223, 223);
}
.Lable {
    font-family: 'Alfa Slab One', cursive;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
}
a {
    position: relative;
    color: black;
    text-decoration: none;
    margin-left: 16px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
a:after{
    content: "";
    position: absolute;
    background-color:rgb(0, 204, 255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a:hover:after{
    width: 100%;
}
.maps-container{
    display: flex;
}
.bg-image {
    background-image: url(/images/background/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
footer{
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 15px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;   
}
.footer-bottom p {
    color: white;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.hours {
    font-family: 'Poppins', sans-serif;
}
.menue {
    width: 100px;
    height: 100px;
    margin:auto;
    background-color: aliceblue;
}